*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide-wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slide-track{
    display: flex;
    transition: transform .4s ease;
}
.slide-item{
    flex:  0 0 auto;
    text-align: center;
    padding: 20px;
}

.slide-item:nth-child(1){
    background: pink;
}
.slide-item:nth-child(2){
    background: red;
}
.slide-item:nth-child(3){
    background: blueviolet;
}
.slide-item:nth-child(4){
    background: pink;
}
.slide-item:nth-child(5){
    background: red;
}
.slide-item:nth-child(6){
    background: blueviolet;
}
.pre-slide,
.next-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.pre-slide{
    left: 10px;
}
.next-slide{
    right: 10px;
}