*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide-wrapper{
    width: 100%;
    overflow: hidden;
}
.slidezy-content{
    position: relative;
}
.slide-track{
    display: flex;
}
.slide-item{
    flex:  0 0 auto;
    text-align: center;
    padding: 20px;
}

.slide-item:nth-child(1){
    background: pink;
}
.slide-item:nth-child(2){
    background: red;
}
.slide-item:nth-child(3){
    background: blueviolet;
}
.slide-item:nth-child(4){
    background: pink;
}
.slide-item:nth-child(5){
    background: red;
}
.slide-item:nth-child(6){
    background: blueviolet;
}
.slide-item:nth-child(7){
    background: pink;
}
.slide-item:nth-child(8){
    background: olivedrab;
}

.slide-item:nth-child(9){
    background: violet;
}
.slide-item:nth-child(10){
    background: red;
}
.slide-item:nth-child(11){
    background: blueviolet;
}
.slide-item:nth-child(12){
    background: green;
}

.pre-slide,
.next-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.pre-slide{
    left: 10px;
}
.next-slide{
    right: 10px;
}

.slidezy-nav{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 8px;
    margin-top: 8px;
}
.slidezy-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.slidezy-dot.active{
    background: #333;
}